.header {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .logo {
        height: 100%;
        width: fit-content;
    }
    
    .buttonsWrapper {
        display: flex;
        gap: 1rem;
    }

    .button {
        font-size: 1.8rem;
        height: 100%;
        width: 15rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    
        svg {
            height: 2rem;
            width: 2rem;
            path {
                fill: currentColor;
            } 
        }
    }
}
