.bookingFormConfigurator {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    height: 100%;
}

.configuratorContainer {
    flex: 1 1;
    height: 100%;
    background-color: var(--color-bg-ui);
}

.configuratorPreview {
    flex: 0 0 50%;
}