.organizationSearch {
    width: 100%;
    height: 100svh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;

    &.closing {
        animation: fadeOut 0.5s ease-in-out forwards;
    }
}

.searchInput {
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 2rem;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
    animation: inputFadeIn 0.5s ease-in-out;

    .closing & {
        animation: inputFadeOut 0.5s ease-in-out forwards;
    }
}

.organizationSearchWrapper {
    overflow-y: auto;
    padding: 1rem;
    max-width: 60rem;
    width: 100%;
    background-color: var(--color-bg-ui);
    border-radius: 0.5rem;
    border: 1px solid var(--color-border);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    opacity: 0;
    max-height: 80%;
    gap: 1rem;
    display: flex;
    flex-direction: column;

    > * {
        height: 10rem !important;
        flex-shrink: 0;
    }
}

@keyframes fadeIn {
    from {
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0);
        opacity: 0;
    }
    to {
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 1;
    }
}

@keyframes inputFadeIn {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 1;
    }
    to {
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0);
        opacity: 0;
    }
}

@keyframes inputFadeOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-50%);
        opacity: 0;
    }
}
