.organizationList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
    grid-auto-rows: 10rem;
    gap: 1rem;
    background-color: var(--color-bg-ui);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;
}

.container {
    background-color: var(--color-bg-ui);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.message {
    font-size: 2rem;
    color: var(--color-text-main);
    text-align: center;
}