.organizationItem {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    height: 100%;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    background-color: var(--color-bg-main);
    border: 1px solid var(--color-border);
    color: var(--color-text-main);
    cursor: pointer;
    position: relative;

    transition:
        background-color 0.2s ease,
        border-color 0.2s ease;

    &:hover {
        background-color: rgba(255, 255, 255, 0.04);
        border-color: var(--color-primary);

        .actionButtons {
            opacity: 1;
        }
    }

    .actionButtons {
        opacity: 0;
        transition: opacity 0.3s ease;
        position: absolute;
        right: 1.5rem;
        display: flex;
        gap: 0.5rem;
        height: 100%;
        align-items: center;

        button {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            border-radius: 0.8rem;
        }
    }

    img {
        width: 5rem;
        height: 5rem;
        flex-shrink: 0;
        border-radius: 0.8rem;
        object-fit: cover;
    }

    .organizationInfo {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        flex: 1;
        min-width: 0;

        h3 {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.2;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .organizationAdditionalInfo {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.4rem;
        color: var(--color-text-secondary);

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .role {
        padding: 0.5rem 1rem;
        background-color: var(--color-bg-ui);
        border-radius: 10rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--color-text-main);
    }

    .owner {
        background-color: var(--color-primary);
        color: var(--color-text-white);
    }
}

.logoutDialog {
    max-width: 60rem;
    width: 100%;
}

.red {
    color: var(--color-system-red);
}
