.loader {
    --color-1: #fff;
    --color-2: var(--color-primary);
    --spinner-size: 3rem;

    width: var(--spinner-size);
    height: var(--spinner-size);
    display: block;
    position: relative;
    color: var(--color-1);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
    background-color: var(--color-1);
    border-radius: 50%;
    animation: scale50 1s infinite ease-in-out;
}
.loader::before {
    top: auto;
    bottom: 0;
    background-color: var(--color-2);
    animation-delay: 0.5s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes scale50 {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}
