.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footerActions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-top: 0.8rem;
}
